{erl_opts, [debug_info]}.
{deps, [
         {thrift, {git, "https://github.com/rbkmoney/thrift_erlang.git", {branch, "master"}}},
         {jiffy,  {git, "https://github.com/davisp/jiffy.git", {tag, "0.14.11"}}},
         {ibrowse,{git, "https://github.com/cmullaparthi/ibrowse.git", {tag, "v4.3"}}},
         {sync,   {git, "https://github.com/rustyio/sync.git", {branch, "master"}}}
       ]}.
