{erl_opts, [debug_info]}.
{deps, [
    ibrowse,
    {otter_lib, {git, "https://github.com/Bluehouse-Technology/otter_lib.git", {branch, "master"}}}
]}.
{xref_checks,[undefined_function_calls,undefined_functions,locals_not_used,
              deprecated_function_calls,
              deprecated_functions]}.

{profiles, [
    {test, [
        {deps, [
            {otter_srv, {git, "https://github.com/Bluehouse-Technology/otter_srv.git", {branch, "master"}}}
        ]}
    ]}
]}.

