{erl_opts, [debug_info]}.
{deps, [
    otter_lib
]}.
{xref_checks,[undefined_function_calls,undefined_functions,locals_not_used,
              deprecated_function_calls,
              deprecated_functions]}.

{profiles, [
    {test, [
        {deps, [
            otter_srv,
            ibrowse,
            hackney
        ]}
    ]}
]}.

